<!{% extends 'AttendanceManagement/base.html' %}

{% block main_content %}
    <section id="imgBanner">
      <h2>Course Archive</h2>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->
    
    <!--=========== BEGIN COURSE BANNER SECTION ================-->
    <section id="courseArchive">
      <div class="container">
        <div class="row">
          <!-- start course content -->
          <div >
            <div class="courseArchive_content">
              <div class="row">
                <!-- start single course -->
                {% for courses in all_courses%}
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="single_course wow fadeInUp">
                    <div class="singCourse_imgarea">
                      <!--img src="img/course-1.jpg" /-->
                      <div class="mask">                         
                        <a href="{% url 'AttendanceManagement:course_detail' courses.id}" class="course_more">View Course</a>
                      </div>
                    </div>
                    <div class="singCourse_content">
                      <h3 class="singCourse_title">{{courses.cid}} {{ courses.cname }}</h3>
                      <form class="logout-link" action="{% url 'AttendanceManagement:course_detail' courses.cid%}"  method="post">
                          {% csrf_token %}
                          {% if request.GET.next %}
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                        {% endif %}
                          <button type="submit" class="btn btn-primary">View</button>
                      </form>
                    
                    <!--p>when an unknown printer took a galley of type and scrambled it to make a type specimen book</p-->
                    </div>
<!--                    <div class="singCourse_author">-->
<!--                      &lt;!&ndash;img src="img/author.jpg" alt="img"&ndash;&gt;-->
<!--                      <p>{{ courses.f_fname}}{{courses.f_lname</p>-->
<!--                    </div>-->
                  </div>
                </div>
                {% endfor %}
                <!-- End single course -->
              </div>
              <!-- start previous & next button -->
              <div class="single_blog_prevnext">
                <a href="#" class="prev_post wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"><i class="fa fa-angle-left"></i>Previous</a>
                <a href="#" class="next_post wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">Next<i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
          <!-- End course content -->
          
          <!-- start course archive sidebar -->
        </div>
      </div>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->
{% endblock %}