<!--=========== BEGIN FOOTER SECTION ================-->
    <footer id="footer">
      <!-- Start footer top area -->
      <div class="footer_top">
        <div class="container">
          <div class="row">
            <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>About the Project</h3>
                <p>This project helps to ease the process of maintaining student and faculty attendance in paper.This system provides transparency as it can be used anywhere, anytime. This system can be used effectively both in schools and universities.
                </p>
              </div>
            </div>
            <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>Contact Us</h3>
                <p>NH 66, Srinivasnagar, Surathkal, Mangalore, Karnataka 575025</p>
               <p>Phone: +91-824-2474000</p>
               <p>Fax: +91-824-2474033 </p>
               <p>Email: webteam@nitk.ac.in</p>
              </div>
            </div>
            <div class="col-ld-3  col-md-3 col-sm-3">
              <div class="single_footer_widget">
                <h3>Social Links</h3>
                <ul class="footer_social">
                  <li><a href="https://www.linkedin.com/school/nitk-surathkal/"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://www.facebook.com/NITKarnataka/"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.instagram.com/nitksurathkal/?hl=en/"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://twitter.com/nitksurathkal?lang=en/"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.youtube.com/watch?v=0tIxNT9k_vA/"><i class="fa fa-youtube"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End footer top area -->

      <!-- Start footer bottom area -->
      <div class="footer_bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="footer_bootomLeft">
                <p> Copyright &copy; All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End footer bottom area -->
    </footer>
    <!--=========== END FOOTER SECTION ================-->