{% extends 'AttendanceManagement/base.html' %}

{% block style_content %}
<style>
.body{

    font-family: 'Merriweather', serif;
    overflow-x: hidden !important;

}
#profile{
    background:  #313b3d;;
    width:100%;
    height:auto;
    color: white;
    padding: 30px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: 15px;

}
.bg1 {background-color: #313b3d;}
.bg2 {background: white;}
.bg3 {background-color: #D3D3D3;}

.wrap-input100 {
    margin-top: 10px;
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    padding: 10px 30px 9px 22px;
    margin-bottom: 10px;
  }

  .rs1-wrap-input100 {
    width: calc((100% - 30px) / 2);
    float: left;
    margin-left: 15px;
  }

  .label-input100 {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #313b3d;
    line-height: 1.5;
    text-transform: uppercase;
    height: 20px;
    border-radius: 15px;
  }

  .input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color:  #313b3d;
    line-height: 1.5;
    padding-right: 15px;
  }

  .validate-input {
    position: relative;
  }

  @media (max-width: 768px) {
    .rs1-wrap-input100 {
      width: 100%;
    }
    .wrap-contact100 {
        padding: 62px 15px 90px 15px;
      }

      .wrap-input100 {
        padding: 10px 10px 9px 10px;
      }
  }



</style>
{% endblock %}
{% block main_content %}
<section id="imgBanner">
      <h2>{{student_instance.s_fname}} {{student_instance.s_lname}}</h2>
    </section>

  <section id="profile">
      <form>
       			<div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">STUDENT ID</span>
					<label class="input100" type="text" name="sid" >{{ student_instance.sid }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">DEGREE</span>
					<label class="input100" type="text" name="degree" >{{ student_instance.degree }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">EMAIL</span>
					<label class="input100" type="text" name="email" >{{ student_instance.email }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">PHONE</span>
					<label class="input100" type="text" name="phone" >{{ student_instance.phone }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">HOUSE/BLOCK NUMBER</span>
					<label class="input100" type="text" name="house_no" >{{ student_instance.house_no }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">STREET</span>
					<label class="input100" type="text" name="street" >{{ student_instance.street }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">CITY</span>
					<label class="input100" type="text" name="city" >{{ student_instance.city }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">STATE</span>
					<label class="input100" type="text" name="state" >{{ student_instance.state }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">PINCODE</span>
					<label class="input100" type="text" name="pincode" >{{ student_instance.pincode }}</label>
				</div>
				<a href="student-registration.html">
				<div class="wrap-input100 validate-input rs1-wrap-input100 bg3">
					<span class="label-input100"><a href="{% url 'AttendanceManagement:reason_for_absence' courses.sid courses.cid courses.date %}">Add Courses</a></span>
					<label class="input100" type="text" name="name" >New courses</label>
				</div></a>
            </form>
    </section>

	<section id="courseArchive">
		  <div class="container">
			<div class="row">
			  <!-- start course content -->
			  <div>
				<div class="courseArchive_content">
				  <div class="row">
					  {% for courses in courses_registered %}
					  	<h1>{{ courses.cid }}</h1>
<!--
<!--                          <button type="submit" class="btn btn-primary">View</button>-->
<!--                      </form>-->
					  <!-- start single course -->
<!--					<div class="col-lg-6 col-md-6 col-sm-6">-->
<!--					  <div class="single_course wow fadeInUp">-->
<!--						<div class="singCourse_imgarea">-->
<!--&lt;!&ndash;						  <div class="mask">&ndash;&gt;-->
<!--&lt;!&ndash;							<a href="course-single.html" class="course_more">View Course</a>&ndash;&gt;-->
<!--&lt;!&ndash;						  </div>&ndash;&gt;-->
<!--						</div>-->
<!--						<div class="singCourse_content">-->
<!--						<h3 class="singCourse_title" style="color:black">{{courses.cid}}</h3>-->
<!--&lt;!&ndash;						<a href="attendance.html">&ndash;&gt;-->
<!--&lt;!&ndash;						<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 194 186" class="circliful">undefined<text text-anchor="middle" x="100" y="115" style="null" fill="#666">{{num}}/{{total_num}}</text><circle cx="100" cy="100" r="57" class="border" fill="none" stroke="#ccc" stroke-width="15" stroke-dasharray="360" transform="rotate(-90,100,100)"></circle><circle class="circle" cx="100" cy="100" r="57" fill="none" stroke="#3498DB" stroke-width="15" stroke-dasharray="126, 20000" transform="rotate(-90,100,100)" stroke-linecap="butt"></circle><circle cx="100" cy="100" r="28.5" fill="none"></circle><text text-anchor="middle" x="100" y="83" class="icon" style="font-size: 30px" fill="#ccc">ú-task</text><text class="timer" text-anchor="middle" x="100" y="120" style="font-size: 22px; ;" fill="#aaa"><tspan class="number" style="">35</tspan><tspan class="percent">%</tspan></text></svg></a>&ndash;&gt;-->
<!--&lt;!&ndash;						&lt;!&ndash;p>when an unknown printer took a galley of type and scrambled it to make a type specimen book</p&ndash;&gt;&ndash;&gt;-->
<!--						</div>-->
<!--&lt;!&ndash;						<div class="singCourse_author">&ndash;&gt;-->
<!--&lt;!&ndash;						  &lt;!&ndash;img src="img/author.jpg" alt="img"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;						  <p>{{faculty_instance.f_fname}}{{faculty_instance.f_lname}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--					  </div>-->
<!--					</div>-->
					  {% endfor %}
					<!-- End single course -->
				</div>
			  </div>
			  <!-- End course content -->
				</div>
			  </div>
			  <!-- start course archive sidebar -->
			</div>
		</section>

{% endblock %}