{% extends 'AttendanceManagement/base.html' %}

{% block style_content %}
<style>
.body{

    font-family: 'Merriweather', serif;
    overflow-x: hidden !important;

}
.align-center {

    text-align:center;
}
#profile{
    background:  #313b3d;;
    width:100%;
    height:auto;
    color: white;
    padding: 30px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: 15px;

}
.bg1 {background-color: #313b3d;}
.bg2 {background: white;}
.bg3 {background-color: #D3D3D3;}

.wrap-input100 {
    margin-top: 10px;
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 13px;
    padding: 10px 30px 9px 22px;
    margin-bottom: 10px;
  }

  .rs1-wrap-input100 {
    width: calc((100% - 30px) / 2);
    float: left;
    margin-left: 15px;
  }

  .label-input100 {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #313b3d;
    line-height: 1.5;
    text-transform: uppercase;
    height: 20px;
    border-radius: 15px;
  }

  .input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color:  #313b3d;
    line-height: 1.5;
    padding-right: 15px;
  }

  .validate-input {
    position: relative;
  }

  @media (max-width: 768px) {
    .rs1-wrap-input100 {
      width: 100%;
    }
    .wrap-contact100 {
        padding: 62px 15px 90px 15px;
      }

      .wrap-input100 {
        padding: 10px 10px 9px 10px;
      }
  }

#courses{
	color:black;
}

</style>
{% endblock %}

{% block main_content %}
<section id="imgBanner">
      <h2>{{student_instance.s_fname}} {{student_instance.s_lname}}</h2>
    </section>
<div>
  <section id="profile">
      <form>
       			<div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">STUDENT ID</span>
					<label class="input100" type="text" name="sid" >{{ student_instance.sid }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">DEGREE</span>
					<label class="input100" type="text" name="degree" >{{ student_instance.degree }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">EMAIL</span>
					<label class="input100" type="text" name="email" >{{ student_instance.email }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">PHONE</span>
					<label class="input100" type="text" name="phone" >{{ student_instance.phone }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">HOUSE/BLOCK NUMBER</span>
					<label class="input100" type="text" name="house_no" >{{ student_instance.house_no }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">STREET</span>
					<label class="input100" type="text" name="street" >{{ student_instance.street }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">CITY</span>
					<label class="input100" type="text" name="city" >{{ student_instance.city }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">STATE</span>
					<label class="input100" type="text" name="state" >{{ student_instance.state }}</label>
				</div>
                <div class="wrap-input100 validate-input rs1-wrap-input100 bg2">
					<span class="label-input100">PINCODE</span>
					<label class="input100" type="text" name="pincode" >{{ student_instance.pincode }}</label>
				</div>
            </form>
    </section>
</div>
	<br><br><br>

<div align="center">
	<section id="courses">
		{% for c in courses %}
		<div class="wrap-input100 validate-input rs1-wrap-input100 bg2">{{c}}</div>
		{% endfor %}
	</section>
</div>

<br><br><br>
<div align="center">
	<br>
	<form method="post" action="{% url 'AttendanceManagement:view'  %}">
			{% csrf_token %}
			<input class="form-control mr-sm-2" placeholder="Enter cid" name="cid" type="text" style="width:50%">
		<br>
			<button type="submit" class="btn btn-primary">View Attendance</button>
		</form>
	<br><br><br>
</div>
{% endblock %}

